/*Configuration Css Mobile*/
@media all and (max-width: 600px)
{
/*General*/
body
{
    width: 100%;
    color: black;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0%;
}
a
{
    text-decoration: none;
    color: black;
}
.blue
{
    color: #0065FC;
}
.grey
{
    color: #F2F2F2;
}
    /*Invisible*/
    .search-bar-textbutton
    {
        display: none;
    }
    /*Invisible*/
/*General*/
    /*Header*/
    header
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "logo SignUp nav";
    }
    header ul
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        list-style-type: none;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    header li
    {
        margin: 0;
        padding-top: 2rem;
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 1rem;
        border-bottom: 3px solid #F2F2F2;
       
    }
    .top
    {
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        padding-bottom: 0;
        grid-area: logo;
        grid-column: 1;
        grid-row: 1;
    }
    .navlodging
    {
        border-bottom-color: #0065FC;
    }
    .navactivity:hover:active
    {
        border-bottom: 3px solid #0065FC;
    }
    .navactivity:hover
    {
        border-bottom: 3px solid #0065FC;
    }
    .navactivity a:hover:active
    {
        color: #0065FC;
    }
    nav
    {
        grid-area : nav;
        grid-column: 1  / 4;
        grid-row: 2;
    }
    #SignUp
    {
        grid-area: SignUp;
        grid-column: 3;
        grid-row: 1;
        padding: 2rem;
        align-items: center;
        color: #0065FC;
    }
    /*Header*/
    /*Main*/
    main
    {
        justify-content: center;
        width: 100%;
    }
    /*Search Section*/
    #SEARCH
    { 
        width: 100%;
    }
    .title-search
    {
        padding: 1rem;
        justify-content: center;

    }
    /*search bar*/
    .searchbar
    {
        justify-content: center;
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #positionicon
    {
        padding: 1.4rem;
        background-color: #F2F2F2;
        position: sticky;
        border-top-left-radius: 1.2rem;  
        border-bottom-left-radius: 1.2rem;
    }
    .search-bar
    {
        padding: 1.2rem;
        border: 1px solid #F2F2F2;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1rem;
    }
    .search-bar-icon
    {
        padding: 1.4rem;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 1.2rem;  
        border-bottom-right-radius: 1.2rem;
        position: sticky;
        color: white;
    }
    /*search bar*/
    /*Filtres*/
    #filtres
    {
        display: flex;
        flex-wrap: wrap;
    }
    .Filtres
    {
        padding: 1rem;
        padding-bottom: 0%;
    } 
    .filtres
    {
        display: flex;
        margin: 5px;
        margin-left: 0px;
    }
    .filtres i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem;
        background-color: #DEEBFF;
        color: #0065FC;
        cursor: pointer;
        position: sticky;
    }
    .filtres a
    {
        border: 2px solid lightgrey;
        padding: 1rem;
        padding-left: 3rem;
        border-radius: 2rem;
        margin-left: -3rem;
        font-weight: bold;
    }
    .filtres:hover
    {
        background-color: #DEEBFF;
        border-radius: 2rem;
    }
    /*Filtres*/
    /*info*/
    .Info
    {
        padding-top: 0;
        padding: 1.5rem;
    }
    .info
    {
        display: flex;
        align-items: center;
    }
    .info i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgrey;
        width: 2rem;
        height: 2rem;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 2rem;
        color: #0065FC;
        margin: 5px;
    }
    /*info*/
    /*Search Section*/
    /*Popular Section*/
    #POPULAR
    {
        width: auto;
        background-color: #F2F2F2;
    }
    #popular-title i
    {
        font-size: 25px;
    }
    #popular-title
    {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #POPULAR img
    {
        border-radius: 1.2rem 0 0 1.2rem;
        object-fit: cover;
        height: 100%;
    }
    #POPULAR h4
    {
        max-height: 38px;
        overflow: hidden;
    }
    .popular
    {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 30%);
        align-items: center;
        justify-content: center;
    }
    .Pcard 
    {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
        border-radius: 1.2rem;
        border: 0.3rem solid transparent;
        height: 150px;
        overflow: hidden;
    }
    .Pcard:hover 
    {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .Pcardcontainer
    {
        margin-left: 10px;
        margin-right: 10px;
        overflow-wrap: break-word;
        width: 90%;
        justify-content: center;
        position: inherit;
    }
    /*Popular Section*/
    /*Lodging Section*/
    #LODGING
    {
        width: auto;
    }
    #LODGING img
    {
        border-radius: 1.2rem 1.2rem 0 0;
        height: 120px;
        object-fit: cover;
    }
    .lodging-title
    {
        padding: 1rem;
    }
    .lodging
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Lcard 
    {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
        border-radius: 1.2rem;
        border: 0.3rem solid transparent;
        height: 220px;
    }
    .Lcard:hover 
    {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .Lcardcontainer
    {
        align-content: center;
        line-height: 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .seemore
    {
        padding: 1rem;
    }
    /*Lodging Section*/
    /*Activity Section*/
    #ACTIVITY
    {
        width: auto;
    }
    #ACTIVITY img
    {
        border-radius: 1.2rem 1.2rem 0 0;
        height: 120px;
        object-fit: cover;
    }
    .activity-title
    {
        padding: 1rem;
    }
    .activity
    {
        display: flex ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Acard 
    {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
        border-radius: 1.2rem;
        height: 180px;
    }
    .Acard:hover 
    {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .Acardcontainer
    {
        align-items: center;
        align-content: center;
        padding-left: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    /*Activity Section*/
    /*Main*/

    /*Footer*/
    footer
    {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        justify-content: space-between;
        width: auto;
    }
    .footer
    {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    /*Footer*/
}
/*Configuration Css Mobile*/

/*Configuration Css Tablette*/
@media (min-width: 601px) and (max-width: 1023px)
{
/*General*/
body
{
    width: 100%;
    color: black;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0%;
}
a
{
    text-decoration: none;
    color: black;
}
.blue
{
    color: #0065FC;
}
.grey
{
    color: #F2F2F2;
}
    /*Invisible*/
    .search-bar-icon
    {
        display: none;
    }
    /*Invisible*/
/*General*/
    /*Header*/
    header
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "logo SignUp nav";
    }
    header ul
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        list-style-type: none;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    header li
    {
        margin: 0;
        padding-top: 2rem;
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 1rem;
        border-bottom: 3px solid #F2F2F2;
       
    }
    .top
    {
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        padding-bottom: 0;
        grid-area: logo;
        grid-column: 1;
        grid-row: 1;
    }
    .navlodging
    {
        border-bottom-color: #0065FC;
    }
    .navactivity:hover:active
    {
        border-bottom: 3px solid #0065FC;
    }
    .navactivity:hover
    {
        border-bottom: 3px solid #0065FC;
    }
    .navactivity a:hover:active
    {
        color: #0065FC;
    }
    nav
    {
        grid-area : nav;
        grid-column: 1  / 4;
        grid-row: 2;
    }
    #SignUp
    {
        grid-area: SignUp;
        grid-column: 3;
        grid-row: 1;
        padding: 2rem;
        align-items: center;
        color: #0065FC;
    }
    /*Header*/
    /*Main*/
    main
    {
        justify-content: center;
        width: 100%;
    }
    /*Search Section*/
    #SEARCH
    { 
        width: 100%;
    }
    .title-search
    {
        padding: 1rem;
        justify-content: center;

    }
    /*search bar*/
    .searchbar
    {
        justify-content: center;
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    #positionicon
    {
        padding: 1.4rem;
        background-color: #F2F2F2;
        position: sticky;
        border-top-left-radius: 1.2rem;  
        border-bottom-left-radius: 1.2rem;
    }
    .search-bar
    {
        padding: 1.2rem;
        border: 1px solid #F2F2F2;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1rem;
    }
    .search-bar-textbutton
    {
        padding: 1.4rem;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 1.2rem;  
        border-bottom-right-radius: 1.2rem;
        position: sticky;
        color: white;
    }
    /*search bar*/
    /*Filtres*/
    #filtres
    {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    .Filtres
    {
        padding: 1rem;
        padding-bottom: 0%;
    } 
    .filtres
    {
        display: flex;
        margin: 5px;
        margin-left: 0px;
    }
    .filtres i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem;
        background-color: #DEEBFF;
        color: #0065FC;
        cursor: pointer;
        position: sticky;
    }
    .filtres a
    {
        border: 2px solid lightgrey;
        padding: 1rem;
        padding-left: 3rem;
        border-radius: 2rem;
        margin-left: -3rem;
        font-weight: bold;
    }
    .filtres:hover
    {
        background-color: #DEEBFF;
        border-radius: 2rem;
    }
    /*Filtres*/
    /*info*/
    .Info
    {
        padding-top: 0;
        padding: 1.5rem;
    }
    .info
    {
        display: flex;
        align-items: center;
    }
    .info i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgrey;
        width: 2rem;
        height: 2rem;
        padding-left: 1px;
        padding-right: 1px;
        border-radius: 2rem;
        color: #0065FC;
        margin: 5px;
    }
    /*info*/
    /*Search Section*/
    .lodging-container
    {
        display: grid;
        grid-column: auto;
        grid-row: auto;
        row-gap: 1rem;
    }
    /*Popular Section*/
    #POPULAR
    {
        width: auto;
        background-color: #F2F2F2;
        border-radius: 1.2rem;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
    }
    #popular-title i
    {
        font-size: 25px;
    }
    #popular-title
    {
        padding: 1rem;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #POPULAR img
    {
        border-radius: 1.2rem 0 0 1.2rem;
        object-fit: cover;
        height: 100%;
    }
    #POPULAR h4
    {
        max-height: 38px;
        overflow: hidden;
    }
    .popular
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Pcard 
    {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
        border-radius: 1.2rem;
        border: 0.3rem solid transparent;
        height: 170px;
        margin: 1rem;
        overflow: scroll;
    }
    .Pcard:hover 
    {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .Pcardcontainer
    {
        margin-left: 10px;
        margin-right: 10px;
        overflow-wrap: break-word;
        width: 90%;
        justify-content: center;
        position: inherit;
    }
    /*Popular Section*/
    /*Lodging Section*/
    #LODGING
    {
        width: auto;
        background-color: #F2F2F2;
        border-radius: 1.2rem;
        justify-content: center;
        margin: auto;
    }
    #LODGING img
    {
        border-radius: 1.2rem 1.2rem 0 0;
        width: 12rem;
        height: 7rem;
        object-fit: cover;
    }
    .lodging-title
    {
        padding: 1rem;
    }
    .lodging
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 15rem);
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .Lcard 
    {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
        border-radius: 1.2rem;
        border: 0.3rem solid transparent;
        height: 220px;
        margin: 1rem;
    }
    .Lcard:hover 
    {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .Lcardcontainer 
    {
        position: absolute;
        line-height: 3px;
    }
    .seemore
    {
        padding: 1rem;
    }
    /*Lodging Section*/
        /*Activity Section*/
        #ACTIVITY
        {
            width: auto;
        }
        #ACTIVITY img
        {
            border-radius: 1.2rem 1.2rem 0 0;
            width: 345px;
            height: 120px;
            object-fit: cover;
        }
        .activity-title
        {
            padding: 1rem;
        }
        .activity
        {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 15rem);
            gap: 1rem;
            justify-content: center;
            align-items: center;
        }
        .Acard 
        {
            position: relative;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            background-color: white;
            border-radius: 1.2rem;
            height: 180px;
            margin: 0.5rem;
        }
        .Acard:hover 
        {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .Acardcontainer
        {
            position: absolute;
            align-items: center;
            align-content: center;
            padding-left: 1.5rem;
        }
        /*Activity Section*/
    /*Main*/
    /*Footer*/
    footer
     {
         display: flex;
         flex-direction: column;
         background-color: #F2F2F2;
         justify-content: space-between;
         width: auto;
     }
     .footer
     {
         padding: 1rem;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
     }
    /*Footer*/
}
/*Configuration Css Tablette*/

/*Configuration Css Desktop*/
@media (min-width: 1024px)
{
/*General*/
body
{
    width: 100%;
    margin: 0;
    color: black;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
a
{
    text-decoration: none;
    color: black;
}
.blue
{
    color: #0065FC;
}
.grey
{
    color: #F2F2F2;
}
    .search-bar-icon
    {
        display: none;
    }
    /*Invisible*/
/*General*/
    /*Header*/
    header
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "logo nav SignUp";
    }
    header ul 
    {
        margin: 0;
        list-style-type: none;
        display: flex;
        align-content: flex-start;
    }
    header li
     {
         padding: 3rem;
         margin: 0;
         align-content: center;
         justify-content: flex-end;
         align-items: center;
     }
     .logo
     {
         padding: 2rem;
         justify-content: space-between;
         grid-area: logo;
         order: 1;
     }
     nav
     {
         grid-area: nav;
         grid-column: 4;
     }
     .navactivity
     {
         border-top: 3px transparent solid;
     }
     .navactivity:hover:active
     {
         color: #0065FC;
         border-top: 3px solid #0065FC;
     }
     .navactivity:hover
     {
         border-top: 3px solid #0065FC;
     }
     .navactivity a:hover:active
     {
         color: #0065FC;
     }
     .navlodging
     {
         border-top: 3px solid #0065FC ;
     }
     #SignUp
     {   
         grid-area: SignUp;
         grid-column: 5;
         grid-row: 1;
         padding: 3rem;
     }
    /*Header*/
    /*Main*/
    main
    {
        justify-content: center;
        width: 100%;
    }
    /*Search Section*/
    #SEARCH
    { 
        width: 100%;
    }
    .title-search
    {
        padding: 1rem;
    }
     /*search bar*/
     .searchbar
     {
         display: flex;
         padding: 1rem;
     }
     #positionicon
     {
         padding: 1.4rem;
         background-color: #F2F2F2;
         position: sticky;
         border-top-left-radius: 1.2rem;  
         border-bottom-left-radius: 1.2rem;
     }
     .search-bar
     {
         padding: 1.2rem;
         border: 1px solid #F2F2F2;
         font-family: 'Raleway', Arial, Helvetica, sans-serif;
         font-weight: bold;
         font-size: 1rem;
     }
     .search-bar-textbutton
     {
         padding: 1.4rem;
         background-color: #0065FC;
         border: none;
         border-top-right-radius: 1.2rem;  
         border-bottom-right-radius: 1.2rem;
         position: sticky;
         color: white;
     }
     /*search bar*/
     /*Filtres*/
     #filtres
     {
         display: flex;
         padding-left: 1rem;
         padding-bottom: 0;
     }
     .Filtres
     {
         display: flex;
         padding: 1rem;
     }
     .Filtres h3
     {
         margin-top: 49px;
         margin-bottom: 49px;
     }
     .filtres
     {
         display: flex;
         margin: 2rem;
         margin-left: 0px;
         height: 56px;
     }
    .filtres i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem;
        background-color: #DEEBFF;
        color: #0065FC;
        cursor: pointer;
        position: sticky;
    }
    .filtres a
    {
        border: 2px solid lightgrey;
        padding: 1rem;
        padding-left: 3rem;
        border-radius: 2rem;
        margin-left: -3rem;
        font-weight: bold;
    }
    .filtres:hover
    {
        background-color: #DEEBFF;
        border-radius: 2rem;
    }
    /*Filtres*/
    /*info*/
    .Info
    {
        padding-top: 0;
        padding: 1.5rem;
    }
    .info
    {
        display: flex;
        align-items: center;
    }
    .info i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgrey;
        width: 2rem;
        height: 2rem;
        padding-left: 1px;
        padding-right: 1px;
        border-radius: 2rem;
        color: #0065FC;
        margin: 5px;
    }
    /*info*/
    /*Search Section*/
    .lodging-container
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        }
    /*Popular Section*/
    #POPULAR
    {
        background-color: #F2F2F2;
        border-radius: 1.2rem;
        width: 30%;
        height: 700px;
        position: relative;
        margin: 1rem;
    }
    #popular-title i
    {
        font-size: 25px;
    }
    #popular-title
    {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #POPULAR img
    {
        border-radius: 1.2rem 0 0 1.2rem;
        object-fit: cover;
        height: 100%;

    }
    #POPULAR h4
    {
        max-height: 38px;
        overflow: hidden;
    }
    .popularcard
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Pcard 
    {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
        border-radius: 1.2rem;
        border: 0.3rem solid transparent;
        height: 170px;
        position: relative;
        margin: 1rem;
        margin-top: 0;
    }
    .Pcard:hover 
    {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .Pcardcontainer
    {
        margin: 1rem;
        overflow: hidden;
        width: 90%;
        position: absolute;
        grid-column: 2;
    }
    /*Popular Section*/

    /*Lodging Section*/
    #LODGING
    {
        background-color: #F2F2F2;
        border-radius: 1.2rem;
        width: 70%;
        height: 700px;
        position: relative;
        margin: 1rem;
    }
    .lodging
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 16rem);
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .lodging-title
    {
        padding: 1rem;
    }
    #LODGING img
    {
        border-radius: 1.2rem 1.2rem 0 0;
        width: 12rem;
        height: 7rem;
        object-fit: cover;
        
    }
    .Lcard 
    {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
        border-radius: 1.2rem;
        border: 0.3rem solid transparent;
        height: 220px;
        margin: 1rem;
    }
    .Lcard:hover 
    {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .Lcardcontainer 
    {
        position: absolute;
        line-height: 3px;
    }
    .seemore
    {
        padding: 1rem;
    }
    /*Lodging Section*/
    /*Activity Section*/
    #ACTIVITY
    {
        width: auto;
        height: 700px;
    }
    #ACTIVITY img
    {
        border-radius: 1.2rem 1.2rem 0 0;
        width: auto;
        height: 100%;
        object-fit: cover;
    }
    .activity-title
    {
        padding: 1rem;
    }
    .activity
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 10rem 3rem 3rem 3rem 10rem;
        column-gap: 2rem;
        margin-bottom: 4rem;
        margin: 1rem;

    }
    .one
    {
        grid-column: 1;
        grid-row: 1 / 6;
    }
    .two
    {
        grid-column: 2;
        grid-row: 1 / 3;
    }
    .three
    {
        grid-column: 2;
        grid-row: 5;
    }
    .four
    {
        grid-column: 3;
        grid-row: 1 / 6;
    }
    .five
    {
        grid-column: 4;
        grid-row: 1 ;
    }
    .six
    {
        grid-column: 4;
        grid-row: 4 / 6;
    }
    .activitycard
    {
        justify-content: center;
        align-items: center;
    }
    .Acard 
    {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: white;
        border-radius: 1.2rem;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-bottom: 4rem;
    }
    .Acard:hover 
    {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .Acardcontainer
    {
        align-items: center;
        align-content: center;
        padding-left: 1rem;
    }
    /*Activity Section*/
    /*Main*/
    /*Footer*/
    footer
    {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
        justify-content: space-between;
        width: auto;
    }
    .footer
    {
        padding: 1rem;
        display: flex;
        gap: 15rem;
    }
    /*Footer*/
}
/*Configuration Css Desktop*/