/*Configuration Css Mobile*/
@media all and (max-width: 480px)
{
    .SignUp
    {
        display: none;
    }
    .search-bar-textbutton
    {
        display: none;
    }
    body
    {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        color: black;
        width: 400px;
        margin: 0;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    /*Header*/
    .top
    {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        padding-bottom: 0rem;
    }
    header ul
    {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 100%;
        list-style-type: none;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    header li
    {
        margin: 0;
        padding: 2rem;
        border-bottom: 3px solid #F2F2F2;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .navlodging
    {
        border-bottom-color: #0065FC;
    }
    .navactivity:hover
    {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    /*Header*/
    /*Main*/
    main
    {
        margin: 2rem;
    }
    /*Search Section*/
    /*search bar*/
    .searchbar
    {
        display: flex;
    }
    #positionicon
    {
        padding: 1.4rem;
        background-color: #F2F2F2;
        position: sticky;
        border-top-left-radius: 1.2rem;  
        border-bottom-left-radius: 1.2rem;
    }
    .search-bar
    {
        padding: 1.2rem;
        border: 1px solid #F2F2F2;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1rem;
    }
    .search-bar-icon
    {
        padding: 1.4rem;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 1.2rem;  
        border-bottom-right-radius: 1.2rem;
        position: sticky;
        color: white;
    }
    /*search bar*/
    /*Filtres*/
    #filtres
    {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    .filtres
    {
        display: flex;
        margin: 5px;
        margin-left: 0px;
    }
    .filtres i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem;
        background-color: #DEEBFF;
        color: #0065FC;
        cursor: pointer;
        position: sticky;
    }
    .filtres a
    {
        border: 2px solid lightgrey;
        padding: 1rem;
        padding-left: 3rem;
        border-radius: 2rem;
        margin-left: -3rem;
        font-weight: bold;
    }
    .filtres:hover
    {
        background-color: #DEEBFF;
        border-radius: 2rem;
    }
    /*Filtres*/
    /*info*/
    .info
    {
        display: flex;
        align-items: center;
    }
    .info i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgrey;
        width: 2rem;
        height: 2rem;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 2rem;
        color: #0065FC;
        margin: 5px;
    }
    /*info*/
    /*Search Section*/
    /*Main*/
}
/*Configuration Css Mobile*/



/*Configuration Css Tablette*/
@media (min-width: 480px) and (max-width: 768px)
{
    .search-bar-icon
    {
        display: none;
    }
    .SignUp
    {
        display: none;
    }
    body
    {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        color: black;
        width: 768px;
        margin: 0rem;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    /*Header*/
    .top
    {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 100%;
        align-items: center;
        padding: 2rem;
        padding-bottom: 0rem;
    }
    header ul
    {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 100%;
        list-style-type: none;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    header li
    {
        margin: 0;
        padding: 2rem;
        border-bottom: 3px solid #F2F2F2;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .navlodging
    {
        border-bottom-color: #0065FC;
    }
    .navactivity:hover
    {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }
    /*Header*/
    /*Main*/
    main
    {
        margin: 2rem;
    }
    /*Search Section*/
    /*search bar*/
    .searchbar
    {
        display: flex;
    }
    #positionicon
    {
        padding: 1.4rem;
        background-color: #F2F2F2;
        position: sticky;
        border-top-left-radius: 1.2rem;  
        border-bottom-left-radius: 1.2rem;
    }
    .search-bar
    {
        padding: 1.2rem;
        border: 1px solid #F2F2F2;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1rem;
    }
    .search-bar-textbutton
    {
        padding: 1.4rem;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 1.2rem;  
        border-bottom-right-radius: 1.2rem;
        position: sticky;
        color: white;
    }
    /*search bar*/
    /*Filtres*/
    #filtres
    {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    .filtres
    {
        display: flex;
        margin: 5px;
        margin-left: 0px;
    }
    .filtres i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem;
        background-color: #DEEBFF;
        color: #0065FC;
        cursor: pointer;
        position: sticky;
    }
    .filtres a
    {
        border: 2px solid lightgrey;
        padding: 1rem;
        padding-left: 3rem;
        border-radius: 2rem;
        margin-left: -3rem;
        font-weight: bold;
    }
    .filtres:hover
    {
        background-color: #DEEBFF;
        border-radius: 2rem;
    }
    /*Filtres*/
    /*info*/
    .info
    {
        display: flex;
        align-items: center;
    }
    .info i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgrey;
        width: 2rem;
        height: 2rem;
        padding-left: 1px;
        padding-right: 1px;
        border-radius: 2rem;
        color: #0065FC;
        margin: 5px;
    }
    /*info*/
    /*Search Section*/
    /*Main*/
}
/*Configuration Css Tablette*/



/*Configuration Css Desktop*/
@media (min-width: 769px)
{
    #SignUp
    {
        display: none;
    }
    .search-bar-icon
    {
        display: none;
    }
    body
    {
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        color: black;
        width: 1280px;
        margin: 0rem;
    }
    a
    {
        text-decoration: none;
        color: black;
    }
    /*Header*/
    header
    {
        display: flex;
        padding-top: 0;
        justify-content: space-between;
    }
    .top
    {
        width: 300rem;
        padding: 2rem;
        justify-content: space-between;
    }
    header ul 
   {
       margin: 0;
       list-style-type: none;
       display: flex;
       align-content: flex-start;
   }
   header li
    {
        padding: 3rem;
        margin: 0;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
    }
    .navactivity:hover
    {
        color: #0065FC;
        border-top: 3px solid #0065FC;
    }
    .navlodging
    {
        border-top: 3px solid #0065FC ;
    }
    #SignUp
    {
        float: right;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
    }
    /*Header*/
    /*Main*/
    main
    {
        margin: 2rem;
    }
    /*Search Section*/
    /*search bar*/
    .searchbar
    {
        display: flex;
    }
    #positionicon
    {
        padding: 1.4rem;
        background-color: #F2F2F2;
        position: sticky;
        border-top-left-radius: 1.2rem;  
        border-bottom-left-radius: 1.2rem;
    }
    .search-bar
    {
        padding: 1.2rem;
        border: 1px solid #F2F2F2;
        font-family: 'Raleway', Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1rem;
    }
    .search-bar-textbutton
    {
        padding: 1.4rem;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 1.2rem;  
        border-bottom-right-radius: 1.2rem;
        position: sticky;
        color: white;
    }
    /*search bar*/
    /*Filtres*/
    #filtres
    {
        display: flex;
        margin-left: 2rem;
    }
    .Filtres
    {
        display: flex;
    }
    .Filtres h3
    {
        margin-top: 49px;
        margin-bottom: 49px;
    }
    .filtres
    {
        display: flex;
        margin: 2rem;
        margin-left: 0px;
    }
    .filtres i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 2rem;
        background-color: #DEEBFF;
        color: #0065FC;
        cursor: pointer;
        position: sticky;
    }
    .filtres a
    {
        border: 2px solid lightgrey;
        padding: 1rem;
        padding-left: 3rem;
        border-radius: 2rem;
        margin-left: -3rem;
        font-weight: bold;
    }
    .filtres:hover
    {
        background-color: #DEEBFF;
        border-radius: 2rem;
    }
    /*Filtres*/
    /*info*/
    .info
    {
        display: flex;
        align-items: center;
    }
    .info i
    {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid lightgrey;
        width: 2rem;
        height: 2rem;
        padding-left: 1px;
        padding-right: 1px;
        border-radius: 2rem;
        color: #0065FC;
        margin: 5px;
    }
    /*info*/
    /*Search Section*/
    /*Main*/
}
/*Configuration Css Desktop*/